// contenido medio
.carro{
    margin:auto;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 40px;
    
    .textoindex{
        text-align: center;
        padding: 0 0 2rem 0 ;
        font-family: 'lorem';
    }
}
.correcion-carro{
    margin-top: 250px;
    margin-bottom: 250px;
}

